@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
	padding: 0;
	margin: 0;
}

#root {
    height: 100vh;
    width: 100vw;
}

html, body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, sans-serif;
}

body {
	background-color: #DDD;
}

.wrapper {
	display: flex;
	height: 100%;
	width: 100%;
}

.wrapper .menu {
	width: 200px;
	background-color: #2F343B;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
}

.wrapper .menu .header {
	display: flex;
	height: 70px;
	border-bottom: 1px solid rgba(59, 130, 246, 0.3);
	font-size: 32px;
	font-weight: Bold;
	color: #FFF;
	text-decoration: underline;
	justify-content: center;
	align-items: center;
}

.wrapper .menu .links {
	padding-top: 20px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}

.wrapper .menu .links .links_list {
	display: flex;
	flex-direction: column;
	gap: 6px;
	list-style-type: none;
	text-decoration: none;
	flex: 1;
}

.wrapper .menu .links .links_list .link {
	height: 40px;
	color: #F3F3F3;
	display: inline-flex;
	text-align: center;
	padding-left: 5px;
	align-items: center;
}

.wrapper .menu .links .links_list .link li {
	margin-left: 10px;
}

.wrapper .menu .links .links_list .link.active {
	border-left: 3px solid rgba(59, 130, 246, 0.7);
	border-bottom: 1px solid rgba(59, 130, 246, 0.3);
	border-top: 1px solid rgba(59, 130, 246, 0.3);
	border-right: 1px solid rgba(59, 130, 246, 0.3);
	border-radius: 5px;
	background-color: #2B3036;
}

.wrapper .menu .recent {
	margin-top: auto;
	height: 150px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.wrapper .menu .recent p {
	border-bottom: 1px solid rgba(59, 130, 246, 0.3);
	color: #9CA3AF;
	font-size: 14px;
	font-weight: medium;
	padding-bottom: 6px;
}

.wrapper .menu .recent ul {
	list-style-type: none;
	text-decoration: none;
}

.wrapper .menu .recent li {
	color: #6B7280;
	font-size: 14px;
	font-weight: medium;
}

.wrapper .menu .recent li:hover {
	color: #E5E7EB;
}

.wrapper .main_body {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.wrapper .main_body .header {
	height: 30px;
	background-color: #F5F6F8;
	border-bottom: 1px solid #E5E7EB;
}

.wrapper .main_body .content {
	flex: 1;
	background-color: #FFF;
	padding: 20px;
}

.wrapper .main_body .header {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

.wrapper .main_body .header .information {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.wrapper .main_body .header .profile {
	border-radius: 10px;
	height: 40px;
	padding: 5px;
	
	border: 1px solid #D1D5DB;
	background: #ffffff;

	font:600 14px/1 Inter;
	cursor: pointer;
	user-select: none;
	padding-right: 10px;
	padding-left: 10px;
}